:root {
    --clr-primary: #F8981C;
    --clr-secondary: #007DC2;
    
    --clr-brown: #935303;
    --clr-dark-blue: #006399;

    --clr-soft-blue: #CCEDFF;
    --clr-soft-brown: #FDE9CE;
    
    --clr-black: #000000;
    --clr-gray: #F1F1F1;
    --clr-white: #FFF;
}