:root {
    /* cores */
    --clr-primary: #F8981C;
    --clr-secondary: #007DC2;
    --clr-brown: #935303;
    --clr-dark-blue: #006399;
    --clr-soft-blue: #CCEDFF;
    --clr-soft-brown: #FDE9CE;
    --clr-black: #000000;
    --clr-gray: #F1F1F1;
    --clr-white: #FFF;

    /* Tipografia */
    --fs-h1: 2.75rem;
    --fs-h2: 2rem;
    --fs-h3: 1.65rem;
    --fs-h4: 1.125rem;
    --fs-h5: 1rem;

    /* Espaçamentos */
    --e-xs: 8px;
    --e-sm: 16px;
    --e-md: 24px;
    --e-lg: 32px;
    --e-xl: 48px;
    --e-2xl: 64px;

    /* Breakpoints */
    --bk-xs: 30rem;
    --bk-sm: 40rem;
    --bk-md: 48rem;
    --bk-lg: 64rem;
    --bk-xl: 80rem;

    /* Shadows */
    --shadow-tw: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --shadow-deep: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
}

/* reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos gerais */
html {
    scroll-behavior: smooth;
    font-family:  Roboto, Ubuntu, 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

main {
    flex-grow: 1;
}

h1,
.h1 {
    font-size: var(--fs-h1);
    font-weight: 800;
    color: var(--clr-secondary);
}

h2,
.h2 {
    font-size: var(--fs-h2);
    font-weight: 800;
    color: var(--clr-dark-blue);
}

h3,
.h3 {
    font-size: var(--fs-h3);
    font-weight: 800;
    color: var(--clr-dark-blue);
}

h4,
.h4 {
    font-size: var(--fs-h4);
}

p,
.h5 {
    font-size: var(--fs-h5);
    line-height: 1.5;
}

.section {
    max-width: var(--bk-xl);
    margin-block: var(--e-md);
    margin-inline: auto;
    padding-inline: var(--e-md);
}

.section h2,
.section .h2 {
    margin-bottom: var(--e-xs);
} 

.section p {
    max-width: 80ch;
} 

/* header */
.navbar-wrapper {
    width: 100%;
    box-shadow: var(--shadow-tw);
}

.navbar {
    max-width: var(--bk-xl);
    margin-inline: auto;
    padding: var(--e-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand {
    width: 3.25rem;
    padding: var(--e-xs);
    border-radius: 100%;
    box-shadow: var(--shadow-deep);
}

.navbar__link-list {
    list-style: none;
    display: flex;
    gap: var(--e-sm)
}

/* index.html */
/* hero */
.hero {
    position: relative;
    overflow: hidden;
    min-height: 400px;
    display: grid;
    place-content: center;
}

.hero__picture__background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.hero__text {
    position: relative;
    z-index: 2;
    color: var(--clr-white);
    max-width: var(--bk-md);
    padding: var(--e-sm);
    text-align: center;
}

.hero__text h1 {
    margin-bottom: var(--e-md);
}

/* break xs */
@media (min-width:30rem) {
    .navbar {
        padding-inline: var(--e-lg);
    }
    .navbar__link-list {
        gap:var(--e-md);
    }
}

/* break md */
@media (min-width:48rem) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 2.5rem;
        --fs-h3: 2rem;
        --fs-h4: 1.25rem;
        --fs-h5: 1rem;
    }

    .section {
        margin-block: var(--e-xl);
        text-align: center;
    }

    .section p {
        margin-inline: auto;
    }
    
    .navbar {
        padding-inline: var(--e-lg);
    }
    .navbar__link-list {
        gap:var(--e-md);
    }

    /* index.html */
    /* hero */

}